<div [formGroup]="form">
  <div class='label'>{{config.label}}</div>
  <select class="{{config.cssClass}}" [formControlName]="config.name">
    <option *ngFor="let opt of config.options" [value]='opt'>{{opt}}</option>
  </select>
  <app-errors *ngIf="form.get(config.name)?.errors as errors" [data]="{errors: errors, validators: config.validators}">
  </app-errors>
</div>
<br>
