$bgColor: #F5F5F5;

::ng-deep .my-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 5px #222;
  border-style: hidden;
  border: 1px solid #e0e0e0;
  td {
    padding: 5px 10px;
    border-top: 1px solid #777;
  }
  th {
    padding: 15px 10px;
    font-size: 0.8em;
    text-align: left;
    background-color: $bgColor;
    color: #757575;
    font-size: 85%;
  }
}
