.horizontal,
.vertical {
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid lightslategray;
}

.horizontal {
  display: inline-block;
}

.vertical {
  display: table;
}

.selected {
  background-color: lightslategray;
  color: white;
}
