<div [formGroup]="form">
    <div class='label'>{{config.label}}</div>
    <input type="password" class="{{config.cssClass}}" [placeholder]="config.placeholder" [formControlName]="config.name">
    <app-errors *ngIf="form.get(config.name)?.errors as errors" [data]="{errors: errors, validators: config.validators}">
    </app-errors>
</div>
<br>
