<div class="container">
  <h1>Ng Lib Workspace</h1>
  <div class="flex">
    <div>
      <h3>DATA GRID EXAMPLE</h3>
      <app-data-grid [data]="dGridData$ | async" [headers]="['Nr.','Title', 'Price', 'Image', 'Action']">
        <ng-template let-item let-nr='nr'>
          <td>{{nr}}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.price }}</td>
          <td><img [src]="item.imgSrc" width="30" /></td>
          <td><button (click)="more(item)">more</button></td>
        </ng-template>
      </app-data-grid>
    </div>
    <div>
      <h3>FORM GENERATOR AUTO</h3>
      <app-form-generator (action)="onSubmit($event)" [formConfig]="formConfig$ | async"></app-form-generator>
      <div *ngFor="let error of errorsForm1">
        {{ error | json }}
      </div>
    </div>
    <div>
      <h3>FORM GENERATOR CUSTOM</h3>
      <app-form-generator #gen *ngIf="formConfig$ | async as config" (action)="errorsForm2 = $event.errors"
        [formConfig]="config">
        <ng-template>
          <div class="flex">
            <div>
              <ng-container [appFieldGenerator]="{ config: config[0], form: gen.form }"></ng-container>
            </div>
            <div>
              <ng-container [appFieldGenerator]="{ config: config[1], form: gen.form }"></ng-container>
            </div>
          </div>
          <div class="flex">
            <div>
              <ng-container [appFieldGenerator]="{ config: config[2], form: gen.form }"></ng-container>
            </div>
            <div>
              <ng-container [appFieldGenerator]="{ config: config[3], form: gen.form }"></ng-container>
            </div>
            <div>
              <ng-container [appFieldGenerator]="{ config: config[4], form: gen.form }"></ng-container>
            </div>
          </div>
          <ng-container [appFieldGenerator]="{ config: config[5], form: gen.form }"></ng-container>
          <ng-container [appFieldGenerator]="{ config: config[6], form: gen.form }"></ng-container>
        </ng-template>
      </app-form-generator>
      <div *ngFor="let error of errorsForm2">
        {{ error | json }}
      </div>
    </div>
  </div>
</div>
