<form [ngStyle]="{background: bgColor}" [formGroup]="form" (submit)="onSubmit()" class="pure-form">
  <div *ngIf="!tpl">
    <ng-container *ngFor="let config of formConfig" [appFieldGenerator]="{config, form}">
    </ng-container>
  </div>
  <div *ngIf="tpl">
    <ng-container *ngTemplateOutlet="tpl"></ng-container>
  </div>
</form>
