<div [formGroup]="form">
    <div class='label'>{{config.label}}</div>
    <textarea class="{{config.cssClass}}" style="width: 100%;" [placeholder]='config.label' #ta
        [rows]='setTextareateHeight(ta.value)' [value]="config.value" [formControlName]="''+config.label"></textarea>
    <app-errors *ngIf="form.get(config.name)?.errors as errors" [data]="{errors: errors, validators: config.validators}">
    </app-errors>
</div>
<br>
